.title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 70px;
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.header{
  background-color: #070A1B;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.social-list{
  display: flex;
  gap: 30px;
}

.btn-menu{
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.social-link{
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color .3s;
}

.social-link:hover{
  background-color: #C1A1D2;
}

.top{
  background-image: url("../images/top-bg.png");
  background-color: #070A1B;
  min-height: calc(100vh - 100px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.top-content{
  max-width: 610px;
  text-align: center;
  padding-bottom: 30px;
}

.top-title{
  margin-bottom: 10px;
  font-family: serif;
  font-weight: 700;
  font-size: 72px;
}

.top-text{
  margin-bottom: 10px;
  font-size: 24px;
}

.big-bg{
  background: linear-gradient(180deg, #070A1B 0%, #2A3170 100%);
  padding-top: 150px;
}

.concept{
  padding-bottom: 150px;
}

.concept-img{
  display: flex;
  justify-content: start;
}

.concept-title{
  font-family: serif;
  font-size: 18px;
  font-weight: 700;
  color: #F402A2;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.concept-text{
  font-size: 24px;
  margin-bottom: 25px;
}

.concept-text2{
  font-size: 24px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.premier{
  padding-bottom: 150px;
  display: flex;
  gap: 60px;
}

.premier-title{
  font-family: serif;
  font-size: 18px;
  font-weight: 700;
  color: #F402A2;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.premier-text{
  font-size: 16px;
  margin-bottom: 21px;
}

.premier-imgleft{
  margin-bottom: 25px;
}

.premier-btn{
  padding: 14px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: serif;
  font-weight: bold;
  border: 1px solid #F402A2;
  display: block;
  background-color: transparent;
  color: #F402A2;
  cursor: pointer;
  width: 100%;
}

.premier-btn:hover{
  color: #53A1CB;
  border-color: #53A1CB;
  transition: all .3s;

}

.premier-imgright{
  margin-bottom: 20px;
}

.video{
  padding-bottom: 150px;
}

.video-img{
  margin-bottom: 25px;
}

.video-link{
  font-family: serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #F402A2;
  padding: 15px;
  border: 1px solid #F402A2;
  display: block;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  transition: all .3s;
}

.video-link:hover path{
  transition: all .3s;
}

.video-link:hover{
  color: #53A1CB;
  border-color: #53A1CB;
}

.video-link:hover path{
  fill: #53A1CB
}

/*.video-link span{
  position: relative;
}

.video-link span::before{
  content: '';
  width: 19px;
  height: 22px;
  background-image: url('../images/play-img.svg');
  position: absolute;
  left: -32px;
  top: -1px;
}*/

.down-bg{
  background-image: url(../images/down-bg.png);
  min-height: 90vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.footer{
  background-color: #070A1B;
}

.footer-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 130px 0;
}